extends layout
include help


block head
	title Settings | Siter


block header
	b.mx-3 Settings


block main
	#main-container.d-block.d-lg-flex
		#settings.mx-lg-5.mb-5.mb-lg-0.flex-grow-1
			h1#title Settings
			h2 Password
			form#password-form.mx-3(action='/settings/password' method='post')
				input#username(type='text' autocomplete='username' value='admin' hidden)
				.form-group
					label(for='old-password-input') Old password
					input#old-password-input(type='password' placeholder='password'
						name='password' autocomplete='current-password' required)
				.form-group
					label(for='new-password-input') New password
					input#new-password-input(type='password' placeholder='new-password'
						name='newPassword' autocomplete='new-password' required)
				.form-group
					label(for='new-password-repeat-input') Repeat new password
					input#new-password-repeat-input(type='password' placeholder='new-password'
						name="newPasswordRepeat" autocomplete='new-password' required)
				input.btn.btn-primary(type='submit' value='Update')

			h2 Network
			form#network-form.mx-3(action='/settings/network', method='post')
				.form-group
					label(for='http-port-input') HTTP Port
					input#http-port-input(type='number' name='httpPort' placeholder='80' value=net.httpPort)
				.form-group
					label(for='https-port-input') HTTPS Port
					input#https-port-input(type='number' name='httpsPort' placeholder='443' value=net.httpsPort)
				.form-check
					input#secure-checkbox(type='checkbox' name='httpsEnabled' checked=net.httpsEnabled)
					label(for='secure-checkbox') Enable HTTPS for Siter
				.form-group
					label(for='security-cert-input') Certificate file
					input#security-cert-input(type='text' name='cert' placeholder='Path to certificate file'
						value=net.cert)
				.form-group
					label(for='security-key-input') Key file
					input#security-key-input(type='text' name='key' placeholder='Path to key file'
						value=net.key)
				.form-check
					input#redirect-checkbox(type='checkbox' name='httpsRedirect' checked=net.httpsRedirect)
					label#redirect-label(for='redirect-checkbox') Enable HTTPS redirect
				input.btn.btn-primary(type='submit' value='Update')

			h2 Analytics
			form#analytics-form.mx-3(action='/settings/analytics' method='post')
				.form-check
					input#analytics-checkbox(type='checkbox' name='enabled' checked=analytics.enabled)
					label(for='analytics-checkbox') Enable analytics
				.form-group
					label(for='analytics-url-input') Crash Course URL
					input#analytics-url-input(type='text' name='url' placeholder='Crash Course URL' value=analytics.url)
				.form-group
					label(for='analytics-audience-key-input') Crash Course audience key
					input#analytics-audience-key-input(type='text' name='audienceKey'
						placeholder='Crash Course key' value=analytics.audienceKey)
				.form-group
					label(for='analytics-telemetry-key-input') Crash Course telemetry key
					input#analytics-telemetry-key-input(type='text' name='telemetryKey'
						placeholder='Crash Course key' value=analytics.telemetryKey)
				input.btn.btn-primary(type='submit' value='Update')

			h2 Restart
			form.mx-3(action='/settings/restart' method='post')
				p Siter applies your changes automatically but if you want to force a full restart, you can use the button below.
				input.btn.btn-primary(type='submit' value='Restart')

			script(async type='module' src='/js/settings.js')

		+help
			+helpSection('Password', '/html/help/password.html')
			+helpSection('Security', '/html/help/security.html')
