extends layout
include help


block head
	title Settings | Siter


block header
	b.mx-3 Settings


block main
	div#main-container.d-block.d-lg-flex
		include navigation

		div#settings.mx-lg-5.mb-5.mb-lg-0.flex-grow-1
			h1#title Settings
			h2 Password
			form#password-form.mx-3(action='/password/' method='post')
				div.form-group
					label(for='old-pwd') Old password
					input#old-pwd(type='password' placeholder='password'
						name='oldPassword' required)
				div.form-group
					label(for='new-pwd') New password
					input#new-pwd(type='password' placeholder='new-password'
						name='newPassword' required)
				div.form-group
					label(for='new-pwd-repeat') Repeat new password
					input#new-pwd-repeat(type='password' placeholder='new-password'
						name='newPasswordRepeat' required)
				input.btn.btn-primary(type='submit' value='Update')

			h2 Security
			form#security-form.mx-3(action='/security/' method='post')
				div.form-check
					input#https-checkbox(type='checkbox' name='httpsEnabled')
					label(for='https-checkbox') Enable HTTPS for Siter
				div.form-group
					label(for='cert-file-input') Certificate file
					input#cert-file-input(type='text' name='certFile'
						placeholder='Path to certificate file')
				div.form-group
					label(for='key-file-input') Key file
					input#key-file-input(type='text' name='keyFile'
						placeholder='Path to key file')
				div.form-check
					input#redirect-checkbox(type='checkbox' name='httpsRedirect')
					label(for='redirect-checkbox') Enable HTTPS redirect
				input.btn.btn-primary(type='submit' value='Update')

		+help
			+helpSection('Password', '/html/help/password.html')
			+helpSection('Security', '/html/help/security.html')
